.all {
  border: 3px solid #e1bee7;
  color: black;
  padding: 15px;
}

h4 {
  font-size: 25px;
  padding-left: 25px;
}

label {
  font-size: 20px;
  padding: 10px;
}

button {
  margin: 15px;
  border-radius: 15px;
  font-weight: bold;
  padding: 15px;
}

.textdeco a {
  text-decoration: none;
  color: black;
}
